//input placeholder behavior

.form-input {
    // adjust placeholder behavior
    &[placeholder] {
        text-overflow: ellipsis;
    }

    &::-webkit-input-placeholder {
        color: $placeholder;
    }
    &::-moz-placeholder {
        color: $placeholder;
    }
    &:-moz-placeholder {
        color: $placeholder;
    }

    &::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    // hide arrows in input type number
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &[type="number"],
    &[type="number"]:hover,
    &[type="number"]:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
}
